[Bb]in/
[Oo]bj/
[Ww]orking/
[Pp]ackages/
_ReSharper*
*.suo
*.user
Source/.droidres/.organon.xforms.sampleapp.droidres.db

*.userprefs

*.db

*.nupkg

Source/Organon.XForms.Effects/Organon.XForms.Effects.Droid/Resources/Resource.Designer.cs
